<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">

    <title>Tempo Roleplay - Servidor multijugador de SA-MP</title>
    
    <meta property="description" content="Tempo Roleplay es el mejor servidor de San Andreas Multiplayer en español. Diviértete con nosotros y tus amigos. 💫 ¡La magia comienza!">
    
    <link rel="stylesheet" href="/css/core/main.css">
    <link rel="shortcut icon" href="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ffavicon.ico?v=1605737053438" type="image/x-icon">
 
    <meta property="og:site_name" content="Tempo Roleplay - Servidor multijugador de SA-MP">
    <meta property="og:type" content="game">
    <meta property="og:title" content="Tempo Roleplay - Servidor multijugador de SA-MP">
    <meta property="og:url" content="https://tempo.com">
    <meta property="og:image" content="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Flogo-tempo2.PNG?v=1605731810777">
    <meta property="og:description" content="Diviértete con nosotros y tus amigos en nuestro servidor de SA-MP Roleplay. 💫 ¡La magia comienza!">
  </head>  
  <body>    
    <!-- Menu de hamburguesa para pantallas pequeñas -->
    <div class="menu-btn">
        <div class="menu-btn__burguer"></div>
    </div>
    
    <section class="Hero first-section">
      <header>   
        <div class="logo noselect">
          <a href="">
            <img class="header-logo-img" src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ficono-sinfondo-Tempo.png?v=1605736810980">
            <span id="logo-first">Tempo </span><span id="logo-second">Roleplay</span>
          </a>
        </div>

        <nav class="buttons-search">
          <li><a href="/account">Tu cuenta</a></li>
          <li><a href="/tienda">Tienda</a></li>
          <li><a href="/foro">Foro</a></li>
        </nav>

        <div class="login-buttons">
          <a href="/signup"><span id="reg-button">Registrarse</span></a>
          <a href="/login"><span id="login-button">Iniciar sesión</span></a>
        </div>
      </header>
      
      <h1 class="big-text"><span class="title-word"></span><span id="big-text__after"> con nosotros.</span></h1>
    </section>
    
    
    
    <section class="ReasonsWhy">
      <div class="shadow"></div>
      
      <div class="u-wrapper">
        <div class="ReasonsWhy-content">
          <div class="ReasonsWhy-title">
            <div class="SectionHeading-line"></div>
            <h2 class= "SectionHeading-text">¿Por qué jugar en Tempo Roleplay?</h2>
          </div>
          
          <p class="ReasonsWhy-label">Nos movemos cada día para brindarte una experiencia integrada y única las 24 horas del día los 365 días del año</p>

          <ul class="ReasonsWhy-benefits-list flex stretch between wrap">
            <li class="ReasonsWhy-benefits-item flex column middle">
              <span class="iconify" data-icon="eva:people-outline" data-inline="false" style="color: white;" data-width="50" data-height="40"></span>
              <h4 class="ReasonsWhy-benefits-item-title">Gran comunidad</h4>
              <p class="ReasonsWhy-benefits-item-text">Nos integramos para convivir como una de las mejores comunidades</p>
            </li>
            <li class="ReasonsWhy-benefits-item flex column middle">
              <span class="iconify" data-icon="feather:smile" data-inline="false" style="color: white;" data-width="50" data-height="40"></span>
              <h4 class="ReasonsWhy-benefits-item-title">Diversión garantizada</h4>
              <p class="ReasonsWhy-benefits-item-text">Cada día, una experiencia nueva e increíble te estará esperando</p>
            </li>
            <li class="ReasonsWhy-benefits-item flex column middle">
              <span class="iconify" data-icon="ic:round-update" data-inline="false" style="color: white;" data-width="50" data-height="40"></span>
              <h4 class="ReasonsWhy-benefits-item-title">Actualizaciones semanales</h4>
              <p class="ReasonsWhy-benefits-item-text">La innovación es nuestro pilar, no te aburras con lo mismo</p>
            </li>
            <li class="ReasonsWhy-benefits-item flex column middle">
              <span class="iconify" data-icon="ant-design:safety-outlined" data-inline="false" style="color: white;" data-width="50" data-height="40"></span>
              <h4 class="ReasonsWhy-benefits-item-title">Seguridad</h4>
              <p class="ReasonsWhy-benefits-item-text">Tu seguridad y privacidad es importante para nosotros, tus datos estarán bien asegurados</p>
            </li>
            <li class="ReasonsWhy-benefits-item flex column middle">
              <span class="iconify" data-icon="mdi:drama-masks" data-inline="false" style="color: white;" data-width="50" data-height="40"></span>
              <h4 class="ReasonsWhy-benefits-item-title">Roleplay medio</h4>
              <p class="ReasonsWhy-benefits-item-text">Disfruta tu experiencia y sé quien quieras ser con un nivel de rol intermedio</p>
            </li>
            <li class="ReasonsWhy-benefits-item flex column middle">
              <span class="iconify" data-icon="clarity:shopping-cart-line" data-inline="false" style="color: white;" data-width="50" data-height="40"></span>
              <h4 class="ReasonsWhy-benefits-item-title">Precios increíbles</h4>
              <p class="ReasonsWhy-benefits-item-text">Hacemos tu experiencia más amena a excelentes precios</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
  
    
    <section class="Features">
      <div class="u-wrapper">
        <div class="Features-title-mobile">
          <div class="SectionHeading is-center">
            <div class="SectionHeading-line"></div>
            <h2 class="SectionHeading-text">La mejor experiencia de juego</h2>
          </div>
        </div>
        
        <div class="Features-content">
          <div class="Features-items">
            <div class="Features-title-desktop">
              <div class="SectionHeading is-left">
                <div class="SectionHeading-line"></div>
                <h2 class="SectionHeading-text">La mejor experiencia de juego</h2>
              </div>
            </div>
            <ul class="Features-items-list">
              <li>Nos enfocamos en cada individuo como un mundo único y por explorar</li>
              <li>Tu puedes ser quien quieras ser sin limitaciones</li>
              <li>Convive con muchas personas y forma relaciones, ¿amigos o enemigos?</li>
            </ul>
            
            <form class="CTAForm">
              <div class="CTAForm-inputs">
                <p class="CTAForm-inputs-label">Descubre tu próxima pasión</p>
                <input type="username" placeholder="Escribe tu Nombre_Apellido" name="username" value>
                <button type="submit">Únete a Tempo</button>
              </div>
            </form>
            
          </div>

          <div class="Features-content-right">
            <ul class="Features-cards">
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Robo al banco</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Ejército</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Robo a tiendas</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Secuestros</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Licencias</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Resturantes</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Gobierno (próximamente)</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Policía</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Bandas</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Mafias</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Extorsiones</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Territorios</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Atracos</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Trabajos</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Aereopuerto</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Hambre y sed</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Robo al banco</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Ejército</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Robo a tiendas</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Secuestros</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Licencias</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Resturantes</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Gobierno (próximamente)</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Policía</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Bandas</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Mafias</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Extorsiones</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Territorios</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Atracos</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Trabajos</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Aereopuerto</p></div></li>
              <li class="Card"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ferror.png?v=1605929049405" alt="Feature image" draggable="false" loading="lazy"><div class="Card-description Card-description-hidden"><p>Hambre y sed</p></div></li>
            </ul>
          </div>
        </div>
       </div>
    </section>
   
    <section class="FindUs">
      <div class="u-wrapper">
        <div class="FindUs-content">
          <p class="FindUs-title">Conecta con nosotros en</p>
          <ul class="FindUs-list flex stretch wrap">
            <li class="FindUs-list-item flex column middle"><span class="iconify" data-icon="grommet-icons:facebook" data-inline="false" data-width="32" data-height="32"></span><p>@temporoleplay</p></li>
            <li class="FindUs-list-item flex column middle"><span class="iconify" data-icon="zmdi:twitter-box" data-inline="false" data-width="32" data-height="32"></span><p>@TempoRoleplay</p></li>
            <li class="FindUs-list-item flex column middle" id="FindUs-item-ip"><a href="samp://samp.tempo-rp.com:7777"><span class="FindUs-list-item-ip">samp.tempo-rp.com:7777</span></a></li>
            <li class="FindUs-list-item flex column middle"><span class="iconify" data-icon="grommet-icons:youtube" data-inline="false" data-width="32" data-height="32"></span><p>Tempo Roleplay</p></li>
            <li class="FindUs-list-item flex column middle"><span class="iconify" data-icon="uil:instagram-alt" data-inline="false" data-width="32" data-height="32"></span><p>@temporoleplay</p></li>
          </ul>
          <p class="FindUs-list-item-ip-mobile">samp.tempo-rp.com:7777</p>
        </div>
      </div>
    </section>
    
    <section class="Teams">
      <div class="u-wrapper">
  
        <div class="Teams-content">
          
          
          <div class="Teams-scene">
            
            <div class="Teams-scene-left">
              
              <ul class="Teams-list">
                <li class="Team">
                  <input type="radio" id="Team-1" name="teams" value="Team-1" checked="checked">
                  <label class="Team-label" for="Team-1">SAPD</label>
                  <div class="Team-content">
                    <h1>San Andreas Police Department</h1>
                    <p>Departamento de policía de San Andreas, primera unidad de élite dispuesta a combatir el crimen</p>
                  </div>
                </li>
                <li class="Team">
                  <input type="radio" id="Team-2" name="teams" value="Team-2">
                  <label class="Team-label" for="Team-2">EDSA</label>
                  <div class="Team-content">
                    <h1>Ejercito de San Andreas</h1>
                    <p>Departamento de policía de San Andreas, primera unidad de élite dispuesta a combatir el crimen</p>
                  </div>
                </li>
                <li class="Team">
                  <input type="radio" id="Team-3" name="teams" value="Team-3">
                  <label class="Team-label" for="Team-3">Groove</label>
                  <div class="Team-content">
                    <h1>Grove's family</h1>
                    <p>Departamento de policía de San Andreas, primera unidad de élite dispuesta a combatir el crimen</p>
                  </div>
                </li>
                <li class="Team">
                  <input type="radio" id="Team-4" name="teams" value="Team-4">
                  <label class="Team-label" for="Team-4">Ballas</label>
                  <div class="Team-content">
                    <h1>Ballas</h1>
                    <p>Departamento de policía de San Andreas, primera unidad de élite dispuesta a combatir el crimen</p>
                  </div>
                </li>
              </ul>
            </div>
            
            
            <!-- <div class="Teams-scene-middle-border"></div> -->
            <div class="Teams-scene-right">
              
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="Feedback">
      <div class="u-wrapper">
        <div class="Feedback-content">
          <div class="Feedback-items">
            <div class="Feedback-items-title">
              <div class="SectionHeading-line"></div>
              <h2 class="SectionHeading-text">Forma parte de los +100 jugadores que están divirtiéndose con nosotros</h2>
            </div>
            
            <ul class="Feedback-items-list">
              <li class="Opinion flex middle between column">
                <p class="Opinion-description">Excelente servidor de Roleplay, el único que me encanta y he probado</p>
                <h4 class="Opinion-author">Martin Santiago</h4>
              </li>
              
              <li class="Opinion flex middle between column">
                <p class="Opinion-description">Excelente servidor de Roleplay, el único que me encanta y he probado</p>
                <h4 class="Opinion-author">Martin Santiago</h4>
              </li>
              
              <li class="Opinion flex middle between column">
                <p class="Opinion-description">Excelente servidor de Roleplay, el único que me encanta y he probado</p>
                <h4 class="Opinion-author">Martin Santiago</h4>
              </li>
              
              <li class="Opinion flex middle between column">
                <p class="Opinion-description">Excelente servidor de Roleplay, el único que me encanta y he probado</p>
                <h4 class="Opinion-author">Martin Santiago</h4>
              </li>
              
              <li class="Opinion flex middle between column">
                <p class="Opinion-description">Excelente servidor de Roleplay, el único que me encanta y he probado</p>
                <h4 class="Opinion-author">Martin Santiago</h4>
              </li>
              
              <li class="Opinion flex middle between column">
                <p class="Opinion-description">Excelente servidor de Roleplay, el único que me encanta y he probado</p>
                <h4 class="Opinion-author">Martin Santiago</h4>
              </li>
              
              <li class="Opinion flex middle between column">
                <p class="Opinion-description">Excelente servidor de Roleplay, el único que me encanta y he probado</p>
                <h4 class="Opinion-author">Martin Santiago</h4>
              </li>
              
              <li class="Opinion flex middle between column">
                <p class="Opinion-description">Excelente servidor de Roleplay, el único que me encanta y he probado</p>
                <h4 class="Opinion-author">Martin Santiago</h4>
              </li>
            </ul>
          </div>
          
          
        </div>
      </div>
    </section>
    
    <footer class="Footer">
      <div class="FooterContainer-up">
        <div class="u-wraper FooterGrid-up">
          <div class="SloganSection">
            <figure class="Logo">
              <img class="Logo-img" src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ficono-sinfondo-Tempo.png?v=1605736810980">
              <span class="Logo-name">Tempo</span>
            </figure>
            <p>Transformamos la manera de disfrutar la modalidad roleplay en el mundo del SA-MP</p>
          </div>
          <div class="SocialLayout">
            <span>Síguenos en nuestras redes</span>
            <a href="https://twitter.com/TempoRoleplay" class="SocialItem" target="_blank" rel="noreferrer"><span class="iconify" data-icon="ant-design:twitter-outlined" data-inline="false" style="color: white;" data-width="20" data-height="20"></span></a>
            <a href="https://fb.me/temporoleplay" class="SocialItem" target="_blank" rel="noreferrer"><span class="iconify" data-icon="brandico:facebook" data-inline="false" style="color: white;" data-width="20" data-height="20"></span></a>
            <a href="https://www.youtube.com/channel/UCwJyuNM2U__UYwH49k_G89w" class="SocialItem" target="_blank" rel="noreferrer"><span class="iconify" data-icon="cib:youtube" data-inline="false" style="color: white;" data-width="20" data-height="20"></span></a>
            <a href="https://www.instagram.com/temporoleplay/" class="SocialItem" target="_blank" rel="noreferrer"><span class="iconify" data-icon="fe:instagram" data-inline="false" style="color: white;" data-width="20" data-height="20"></span></a>
          </div>
          <div class="LinksSection">
            <ul class="LinksSection-list">
              <li class="LinkItem"><a href=".">Tu cuenta</a></li>
              <li class="LinkItem"><a href=".">Tienda</a></li>
              <li class="LinkItem"><a href=".">Foro</a></li>
              <li class="LinkItem"><a href=".">Reportes</a></li>
            </ul>
          </div>
          <div class="QuoteLayout flex wrap">
            <div class="QuoteLayout-top">
              <div class="Quote">
                <p class="Quote-text">"Lo que un hombre piensa de sí mismo, esto es lo que determina, o más bien indica, su destino"</p>
                <p class="Quote-author">- H. D. Thoreau</p>
              </div>
            </div>
            
            <div class="QuoteLayout-middle-line"></div>
            <div class="QuoteLayout-bottom">
              <p>Hecho con 💙 en Colombia y México para el mundo</p>
            </div>
            
          </div>
        </div>
      </div>
      
      
      <div class="FooterContainer-bottom">
        <div class="u-wrapper FooterGrid-bottom">
          <div class="MenuLayout flex wrap middle">
            <a href="" class="MenuItem">Preguntas frecuentes</a>
            <a href="" class="MenuItem">Contáctanos</a>
            <a href="" class="MenuItem">Voluntariado</a>
            <a href="" class="MenuItem">Términos y condiciones</a>
            <a href="" class="MenuItem">Privacidad</a>
          </div>
          <div class="LoveLayout flex">
            <p>Copyright &copy; 2020 Tempo, Inc</p>
          </div>
        </div>
      </div>
    </footer>
    
   
    <script src="/js/script-main.js" defer></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </body> 
</html>