<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión | Tempo Roleplay</title>
    <link rel="stylesheet" href="/css/core/login.css">
    <link rel="shortcut icon" href="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ffavicon.ico?v=1605737053438" type="image/x-icon">
  
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  
    <meta property="og:site_name" content="Tempo Roleplay">
    <meta property="og:type" content="game">
    <meta property="og:title" content="Iniciar sesión | Tempo Roleplay">
    <meta property="og:url" content="">
    <meta property="og:image" content="g">
    <meta property="og:description" content="Aquí puedes ingresar como jugador. Tranquilo: valoramos tu privacidad como si fuera la nuestra.">
</head>
<body>
    <header>
        <a href="./"><img src="https://cdn.glitch.com/035904e0-5072-486e-aa88-45d03ef24105%2Ficono-sinfondo-Tempo.png?v=1605736810980" alt="Tempo logo" style="width: 100px;" draggable="false"></a>
        <h3 id="title">Iniciar Sesión</h3>
        <hr width="30%" style="margin: 10px auto;">
    </header>

    <main id="container">
        <form action="dash" method="get">
            <div class="form-field" id="login-field">
                <input type="text" name="login" id="username" placeholder="Nombre de usuario" required>
                <img src="https://cdn.glitch.com/3c77f4d9-fd4c-4dce-b1a8-3b8d8b56b519%2Fprofileperson.svg?v=1598796752381" alt="" id="personsvg" draggable="false">
            </div>
            
            <div class="form-field icon-on-left" id="pass-field">
                <input type="password" id="pass" placeholder="Contraseña" required>
                <iconify-icon id="locksvg" data-icon="icons8:lock-2" data-inline="false" style="color: #6E6E6E;" data-width="32"></iconify-icon>
            </div>
            
            <input type="submit" value="INICIAR SESIÓN" id="login-btn">
            <p id="support">¿Tienes problemas para ingresar?</p>
        </form>
    </main>

    <footer>
        <p id="copy">Copyright &copy; 2020 Tempo Roleplay</p>
    </footer>

    
</body>
</html>
